@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    --color1: linear-gradient(-45deg, rgb(217, 212, 182) 40%, rgb(242, 237, 204) 60%);
    --color2: #0388A6;
    --color3: #F58766;
    --color4: #F4E584;
    --color5: #013440;
    --color6: #f2edcc;
    margin: 0;
    padding: 0;
    font-size: 25px;
    overflow: hidden;
    background: var(--color1);


}
p{
    margin: 0;
    font-family: 'Gemunu Libre', sans-serif;
    color: var(--color5);

}
span{
    font-size: 25px;
}

/*                                                    wrapper                                                         */

.wrapper{
    width: 100vw;
    height: 100vh;


}
.input_wrapper{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    margin: 0;
    transition: 0.5s ease-in-out;
}

.inputName{
    height: 35px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: 'Gemunu Libre', sans-serif;
    transition: ease-in-out 0.3s;
}
.button{
    margin-left: 15px;
    height: 35px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--color4);
    font-family: 'Gemunu Libre', sans-serif;
    animation: image 0.3s ease-in-out;
    display: none;
}

.pokeball{
    position: absolute;
    right: 30px;
    width: auto;
    height: 5vh;
    cursor: pointer;
    transform: scale(-1, 1)

}
.pokeball:hover{
    animation: pokeball 0.6s ease-in-out;
}

.all_Pokemon{
    position: absolute;
    width: auto;
    height: 8vh;
    left: 30px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.all_Pokemon:hover{
    transition: ease-in-out 0.3s;
    height: 10vh;
}

/*                                                    Preloader                                                       */

.preloader{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgb(176, 74, 110) 0%, rgba(242,237,204,1) 50%, rgb(56, 151, 176) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fetching 0.3s ease-in-out;
}
.load{
    width: auto;
    height: 128px;
    animation: load 1s ease-in-out infinite;
}

/*                                                    Description                                                     */

.description{
    width: 100%;
    height: 90%;
    background: var(--color1);


}
.pokemon{
    display: flex;
    justify-content: space-between;
}

/*                                                    Img Block                                                       */

.img_block{
    width: 50%;
    height: 90vh;
    clip-path: polygon(100% 0, 100% 46%, 77% 100%, 0 100%, 41% 0);
    background-color: #ffffff;
    display: flex;
    justify-content: right;
    z-index: 5;
}
.img{
    width: 60%;
    height: auto;
    object-fit: contain;
    margin: -10% 10% 0 0;
    transition: ease-in-out 0.3s;
    animation: image 0.6s ease-in-out;
}
.img:hover{
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}

.H_W{
    position: absolute;
    top: 11%;
    right: 10%;
    z-index: 1;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 30px;
    color: var(--color5);

}

.genus{
    font-size: 20px;
    margin: 0 2%;
    line-height: 20px;
    position: absolute;
    bottom: 20%;
    left: 55%;
    z-index: 1000;
    font-family: 'Stick No Bills', sans-serif;
    color: var(--color5);
}

/*                                                    Info Block                                                      */

.info_block{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    font-size: calc(50px + 25 * (100vw / 1920));
    text-transform: uppercase;
    text-align: center;
    margin: 50px;
    font-family: 'Orbitron', sans-serif;
    animation: image ease-in-out 0.9s;
    white-space: nowrap;
}
.name_jp{
    width: 50px;
    position: absolute;
    font-size: 5em;
    vertical-align: center;
    z-index: 1;
    right: 45%;
    line-height: 1em;
    opacity: 0.2;
    font-family: 'Yomogi', cursive;
    user-select: none;
    animation: nameJP 1.2s ease-in-out;
    color: var(--color2);
}

.favorite_wrapper{
    position: absolute;
    left: 1%;
    top: 18%;
    z-index: 1000;
    width: 3vw;
    height: 4vh;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}
.favorite_buttons{
}
.favorite_text{
    position: relative;
    font-size: 2.5vh;
    margin-right: 10%;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--color6);
    animation: favorite ease-in-out 2s infinite;
}
.favorite_text:hover{
    color: var(--color6);
    opacity: 0.8;

}
.like, .dislike{
    height: 4vh;
    width: auto;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    animation: image ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}
.like:hover{
    transform: scale(1.5);
    transition: ease-in-out 0.3s;
 }
.dislike:hover{
    transform: scale(1.5);
    transition: ease-in-out 0.3s;
}
.dislike{
    filter: hue-rotate(180deg);
}

.stat{
    width: 700px;
    height: 300px;
    padding: 2.5% 5% 5% 5%;
}
.stat_toggle{
    animation: image ease-in-out 0.6s;
    transition: 0.3s;
}
.statItem{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    animation: image ease-in-out 0.3s;


}
.stat_text{
    font-family: 'Gemunu Libre', sans-serif;
    text-transform: uppercase;
}
.state_name{
    font-size: 20px;
}
.state_value{
    font-size: 30px;
}
.scale{
    width: 255px;
    height: 30px;
    background-color: #fffdf0;
}
.scale_line{
    width: 0;
    height: 100%;
    background-color: var(--color5);
    animation: stat 0.6s ease-in-out;

}

.weaknesses{
    display: flex;
    justify-content: space-between;
    animation: image ease-in-out 0.3s;

}
.attack, .defense{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 50%;
    text-transform: uppercase;
}
.weak_header{
    font-size: 40px;
    align-self: center;
    margin-bottom: 20px;
}
.weaknesses_type_multiplier{
    margin: 5px 0;
    transition: 0.3s ease-in-out;
}
.weaknesses_type_multiplier:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.weaknesses_type{
    line-height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--color6);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.weaknesses_type:hover{
    transition: 0.3s ease-in-out;
    color: var(--color5);
}

.bug{
    background-color: #16a085;
}
.dark{
    background-color: #34495e;
}
.dragon{
    background-color: #92CCD5;
}
.electric{
    background-color: #f1c40f;
}
.fairy{
    background-color: #FF6978;
}
.fighting{
    background-color: #eb6651;
}
.fire{
    background-color: #e74c3c;
}
.flying{
    background-color: #64BFCC;
}
.ghost{
    background-color: #C07BA7;
}
.grass{
    background-color: #2ecc71;
}
.ground{
    background-color: #96643C;
}
.ice{
    background-color: #B2DEE3;
}
.normal{
    background-color: #F5B1A5;
}
.poison{
    background-color: #865F99;
}
.psychic{
    background-color: #eb4962;
}
.rock{
    background-color: #4E3B3A;
}
.steel{
    background-color: #30aabc;
}
.water{
    background-color: #3498db;
}

.abilities{
    font-size: 20px;
    margin: 50px 0 0 0;
    font-family: 'Gemunu Libre', sans-serif;
    text-transform: uppercase;
    animation: image ease-in-out 0.6s;


}
.abilities_text{
    font-size: 30px;
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0 30px;
    text-transform: capitalize;
}

.flavor{
    font-size: 25px;
    font-family: 'Gemunu Libre', sans-serif;
    margin: 25px;
    text-align: center;
    animation: image ease-in-out 0.3s;

}

.id{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gemunu Libre', sans-serif;
    position: absolute;
    right: 25px;
    bottom: 20%;
    z-index: 1000;
    animation: nameJP ease-in-out 2.4s;

}

/*                                                    Bottom line                                                     */

.lineBottom{
    position: absolute;
    background-color: var(--color3);
    width: 100%;
    height: 15%;
    bottom: 30px;
    z-index: 1000;
    animation: line ease-in-out 0.3s;
}
.sprites{
    display: flex;
    justify-content: space-between;
}
.evolution{
    display: flex;
    justify-content: space-between;
}
.sprite{
    width: 150px;
    height: 150px;
    margin-left: 30px;
    animation: image ease-in-out 0.3s;
}

.evo_description{
    height: fit-content;

}
.evo_sprite{
    position: relative;
    margin-left: 30px;
    width: 150px;
    height: 150px;
    z-index: 155;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.evo_sprite:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.evo_name{
    position: absolute;
    font-size: 30px;
    z-index: 244;
    bottom: 10px;
    margin-left: 30px;
    color: #F2EDCC;
    opacity: 0.8;
    animation: evoName 0.6s ease-in-out;
    text-transform: capitalize;

}
.evo_id{
    position: absolute;
    font-size: 100px;
    z-index: 144;
    opacity: 0.5;
    bottom: 45px;
    margin-left: 100px;
    color: #F2EDCC;
    animation: evoId 0.6s ease-in-out;
}

.types{
    align-self: center;
    margin-right: 30px;
}
.typeImg{
    width: 85px;
    height: 100px;
    cursor: pointer ;
    transition: 0.3s ease-in-out;
}
.typeImg:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.special{
    align-self: center;
    margin-bottom: 15px;
    color: #F2EDCC;
    font-size: 75px;
    text-transform: uppercase;
    opacity: 0.8;
    animation: special 0.6s ease-in-out;
    user-select: none;
}

/*                                                    Animation                                                       */

@keyframes stat {
    0%{
        width: 0;
    }
    50%{
        width: 0;
    }

}

@keyframes image {
    from{
        transform: 	scale(.7);
        opacity: 0;
    }
    to{
        transform: 	scale(1);
        opacity: 1;
    }
}
@keyframes nameJP {
    0%{
        transform: translate(0, 20%);
        opacity: 0;
    }
    50%{
        transform: translate(0, 20%);
        opacity: 0;
    }
}

@keyframes line {
    from{
        transform: translate(0, 20%);
    }
}

@keyframes pokeball {
    0% {
        transform: rotate(0);
    }
    35% {
        transform: rotate(45deg);
    }
    70% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes evoId {
    from{
        transform: translate(30px);
    }
}
@keyframes evoName {
    from{
        transform: translate(-30px);
    }
}

@keyframes special {
    0%{
        opacity: 0;
        transform: translate(0, 70px);
    }
    50%{
        transform: translate(0, -40px);
    }
    100%{
        transform: translate(0, 0);
    }
}
@keyframes load {
    from{
        transform: rotate(-360deg);
    }
}
@keyframes fetching {
    from{
        opacity: 0;
    }
}

@keyframes favorite {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/*                                                    Media                                                           */

@media screen and (max-height: 900px) {

    span{
        font-size: 25px;
    }

    .name{
        font-size: calc(50px + 25 * (100vw / 1920));
        margin: 35px;
    }
    .name_jp{
        width: 50px;
        font-size: 4em;
        right: 45%;
    }
    .favorite_wrapper{
        position: absolute;
        left: 1%;
        top: 18%;
        width: 3vw;
        height: 4vh;
    }
    .stat{
        width: 600px;
        height: 300px;
        padding: 2.5% 5% 5% 5%;
    }
    .statItem{
        margin: 2.5px;
    }
    .state_name{
        font-size: 25px;
    }
    .state_value{
        font-size: 30px;
    }
    .scale{
        width: 170px;
        height: 30px;
        background-color: #fffdf0;
    }
    .weak_header{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .weaknesses_type_multiplier{
        margin: 2.5px 0;
        font-size: 20px;
    }
    .weaknesses_type{
        line-height: 35px;
        padding: 5px 15px;
        font-size: 20px;
    }
    .abilities{
        font-size: 20px;
        margin: 30px 0 0 0;
    }
    .abilities_text{
        font-size: 25px;
        margin: 0 15px;
    }
    .flavor{
        font-size: 25px;
        margin: 35px 15px 0 15px;
    }
    .id{
        font-size: 30px;
        right: 20px;
    }

    .H_W{
        font-size: 25px;
    }
    .genus{
        font-size: 20px;
    }

    .lineBottom{
        height: 15%;
        bottom: 25px;
    }
    .sprite{
        width: 130px;
        height: 130px;
        margin-left: 15px;

    }
    .evo_name{
        font-size: 20px;
        bottom: 10px;
        margin-left: 15px;
    }
    .evo_id{
        font-size: 75px;
        bottom: 60px;
        margin-left: 65px;
    }
    .types{
        margin-right: 15px;
    }
    .typeImg{
        width: 70px;
        height: 85px;
    }
    .special{
        font-size: 75px;
    }
}
@media screen and (max-height: 720px) {

    span{
        font-size: 15px;
    }

    .name{
        font-size: calc(25px + 25 * (100vw / 1920));
        margin: 40px;
    }
    .name_jp{
        width: 50px;
        font-size: 3.5em;
        right: 45%;
    }
    .favorite_wrapper{
        left: 2%;
    }
    .stat{
        width: 400px;
        height: 200px;
        padding: 2.5% 5% 5% 5%;
    }
    .statItem{
        margin: 2.5px;
    }
    .state_name{
        font-size: 13px;
    }
    .state_value{
        font-size: 20px;
    }
    .scale{
        width: 170px;
        height: 20px;
        background-color: #fffdf0;
    }
    .weak_header{
        font-size: 25px;
        align-self: center;
        margin-bottom: 10px;
    }
    .weaknesses_type_multiplier{
        margin: 2.5px 0;
        font-size: 15px;
    }
    .weaknesses_type{
        line-height: 30px;
        padding: 2.5px 10px;
        border-radius: 5px;
        font-size: 15px;
    }
    .abilities{
        font-size: 15px;
        margin: 30px 0 0 0;
    }
    .abilities_text{
        font-size: 20px;
        margin: 0 15px;
    }
    .flavor{
        font-size: 15px;
        margin: 70px 15px 0 15px;
    }
    .id{
        font-size: 30px;
        right: 10px;
    }

    .H_W{
        font-size: 20px;
    }
    .genus{
        font-size: 13px;
    }

    .lineBottom{
        height: 15%;
        bottom: 20px;
    }
    .sprite{
        width: 110px;
        height: 110px;
        margin-left: 15px;

    }
    .evo_sprite{
        position: relative;
        z-index: 155;
        cursor: pointer;
    }
    .evo_name{
        font-size: 20px;
        bottom: 5px;
        margin-left: 15px;


    }
    .evo_id{
        font-size: 65px;
        bottom: 45px;
        margin-left: 65px;
    }
    .types{
        margin-right: 15px;
    }
    .typeImg{
        width: 55px;
        height: 70px;
    }
    .special{
        font-size: 50px;
    }
}
@media screen and (orientation: portrait) {
    body{
        width: 100vw;
        overflow-y: scroll;
        overflow-x: hidden;

    }
    span{
        font-size: 15px;
    }

    .wrapper{
        width: 100vw;
    }
    .input_wrapper{
        height: 10vh;
    }
    .inputName{
        height: 35px;
        font-size: 30px;
        width: 50%;
    }
    .button{
        margin-left: 15px;
        font-size: 20px;
        width: 20%;
    }
    .pokeball{
        position: relative;
        left: 10px;
        height: 7vh;
    }
    .all_Pokemon{
        position: relative;
        width: auto;
        height: 5vh;
        left: -15px;
    }
    .all_Pokemon:hover{
        height: 6vh;
    }

    /*                                                    Description                                                     */

    .pokemon{
        flex-direction: column-reverse;
    }

    /*                                                    Img Block                                                       */

    .img_block{
        width: 100%;
        height: 90vh;
        clip-path: polygon(40% 0, 100% 0, 100% 60%, 60% 100%, 0 100%, 0 40%);
    }
    .img{
        width: 90%;
        margin: -15vh 2% 0 0;
    }
    .H_W{
        top: 17vh;
        right: 4%;
        font-size: 20px;
    }
    .genus{
        font-size: 15px;
        bottom: 16%;
        left: auto;
        right: 25%;
        white-space: nowrap;
    }

    /*                                                    Info Block                                                      */

    .info_block{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .name{
        position: absolute;
        top: 12vh;
        right: 10%;
        font-size: calc(25px + 25 * (100vw / 1920));
        margin: 0;
        z-index: 1000;
    }
    .name_jp{
        font-size: 2em;
        left: 8%;
        top: 10vh;
        z-index: 900;
    }

    .favorite_wrapper{
        display: none;
    }

    .stat{
        width: 100%;
        height: fit-content;
        padding: 5%;
    }
    .statItem{
        margin: 5px;
    }
    .state_value{
        font-size: 20px;
    }
    .scale{
        width: 170px;
        height: 20px;
    }

    .weak_header{
        font-size: 30px;
    }
    .weaknesses_type_multiplier{
        margin: 5px 0;
    }
    .weaknesses_type{
        line-height: 40px;
        padding: 5px 15px;
        font-size: 15px;
    }

    .abilities{
        font-size: 15px;
        margin: 50px 2% 0 2%;
    }
    .abilities_text{
        font-size: 20px;
        margin: 0 0 0 2%;
    }

    .flavor{
        font-size: 25px;
        margin: 50px 25px;
    }

    .id{
        font-size: 30px;
        right: 3%;
        bottom: 16%;
    }

    /*                                                    sprites                                                         */

    .lineBottom{
        width: 100vw;
        height: 15%;
        bottom: 0;
    }
    .sprite{
        width: auto;
        height: 15vh;
        margin-left: 30px;
        margin-right: 30px;
    }

    .evo_description{
        height: fit-content;

    }
    .evo_sprite{
        margin-left: 2%;
        margin-right: 2%;
    }
    .evo_name{
        font-size: 15px;
        bottom: 10px;
        margin-left: 30px;
    }
    .evo_id{
        font-size: 50px;
        bottom: auto;
        top: 2%;
        margin-left: 15%;
    }


    .types{
        position: absolute;
        bottom: 105%;
        left: 2%;
        align-self: center;
        margin-right: 30px;
    }
    .typeImg{
        width: auto;
        height: 10vh;
    }

    .special{
        margin-bottom: 15px;
        font-size: 40px;
        margin-right: 30px;
    }
}











